<div class="container">
  <h2><i class="fas fa-book"></i> Modulverwaltung</h2>
  <form (ngSubmit)="saveModule()">

    <div class="form-group">
      <label for="moduleTitle"><i class="fas fa-file-alt"></i> Modultitel :</label>
      <input type="text" id="moduleTitle" [(ngModel)]="moduleInfo.moduleTitle" name="moduleTitle" required />
    </div>

    <div class="form-group">
      <label for="moduleNumber"><i class="fas fa-hashtag"></i> Modulnummer :</label>
      <input type="text" id="moduleNumber" [(ngModel)]="moduleInfo.moduleNumber" name="moduleNumber" required />
    </div>

    <div class="form-group">
      <label for="examDate"><i class="fas fa-calendar-alt"></i> Prüfungsdatum :</label>
      <input type="date" id="examDate" [(ngModel)]="moduleInfo.examDate" name="examDate" required />
    </div>

    <div class="form-group">
      <label for="examiners"><i class="fas fa-user-tie"></i> Prüfer:</label>
      <input type="text" id="examiners" [ngModel]="(moduleInfo.examiners || []).join(', ')"
        (ngModelChange)="moduleInfo.examiners = $event.split(',')" name="examiners" required />
    </div>

    <button type="submit" class="btn btn-primary">
      <i class="fas fa-save"></i> {{ isEditing ? 'Aktualisieren' : 'Speichern' }} des Moduls
    </button>
    <p *ngIf="saveMessage" class="success-message">
      <i class="fas fa-check-circle"></i> {{ saveMessage }}
    </p>
  </form>

  <button class="btn btn-success" (click)="navigateToNext()" [disabled]="!isSaved">
    Weiter <i class="fas fa-arrow-right"></i>
  </button>
</div>
