.actions button i {
  margin-right: 8px; /* Espacement entre l'icône et le texte */
}

.actions button {
  font-size: 16px;
  padding: 12px 20px;
  border-radius: 8px;
  background-color: #17a2b8; /* Bleu-vert pour différencier CSV */
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background 0.3s, transform 0.2s;
}

.actions button:hover {
  background-color: #138496; /* Bleu-vert plus foncé au survol */
  transform: scale(1.05);
}

/* Bouton désactivé */
.actions button:disabled,
.actions .disabled-button {
  background: #ccc;
  cursor: not-allowed;
}
