


button {
  transition: transform 0.3s ease, 
  box-shadow 0.3s ease;
  background-color: #28a745;
  color: white;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: 600;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
   background: #f39c12;
}

footer {
  font-size: 14px;
}


footer a:hover {
  text-decoration: underline;
}
